<%- include('partials/head'); %>
<%- include('partials/navbar'); %>

<div class="add-new-test-wrap">
  
  <div>
    <div class="progress-nav">
      <svg id="previous-page" xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 0 24 24" width="38px"
        fill="rgba(55, 55, 55, 0.768)">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
      </svg>
      <svg id="next-page" xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 0 24 24" width="38px"
        fill="rgba(55, 55, 55, 0.768)">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </div>
    <div class="progress-wrap">
      <div class="progress-line line-active0"></div>
      <div class="circle-wrap">
        <span class="dot dot-active"></span>
        <span class="circle-text circle-text-active">Nahrátí map</span>
      </div>      
       <div class="circle-wrap">
        <span class="dot"></span>
        <span class=circle-text>Kategorie a pojmy</span>
      </div>      
       <div class="circle-wrap">
        <span class="dot"></span>
        <span class=circle-text>Tvorba otázek</span>
      </div>      
       <div class="circle-wrap">
        <span class="dot"></span>
        <span class=circle-text>Dokončení</span>
      </div>
    </div>
  </div>

  <div class="pages">
    <div class="map-upload-page">         
      <div class="map-upload-button-wrap">
        <label for="map-upload" id="map-label">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20" viewBox="0 0 24 24" width="20"><g><rect fill="none" height="20" width="20" /></g><g><path d="M5,20h14v-2H5V20z M5,10h4v6h6v-6h4l-7-7L5,10z" fill="rgb(45,45,45)" /></g></svg>
                Nahrát mapy
              <input type="file" id="map-upload" multiple accept="image/*">
            </label>
            <div>Max. velikost mapy: 1 Mb</div>
            <div>Max. počet map: 5</div>
      </div>
      <div class="maps-wrap"></div>
    </div>

    <div class="category-and-terms-page">
      <div class="create-category-wrap">
        <div class="heading heading-xl">Vytvořit kategorie pojmů</div>
        <div class="category-info">
          Zde vypište všechny kategorie hledaných pojmů, které se budou nacházet v testu (pro zeměpisnou
          slepou mapu by kategorie
          mohly být např: <strong>stát</strong>, <strong>řeka</strong>, <strong>pohoří</strong>, ... )
        </div>
        <div class="tags-outer">
          <div contenteditable="true" class="tags" placeholder="Přidat kategorii ..."></div>
          <button id="add">+</button>
        </div>
      </div>
      <div class="add-terms-wrap">
        <div class="heading heading-xl">Přidat pojmy pro generování odpovědí (nepovinné)</div>
        <div class="category-info">
          Zde vypiště všechny pojmy pro automatické generování odpovědí
          (pro slepou mapu Evropy by v kategorii státy
          mohly být pojmy: <strong>Česko</strong>, <strong>Slovensko</strong>,
          <strong>Německo</strong>, ... )
        </div>
      </div>
    </div>
    <div class="creating-questions-page">
      <div class="wrap-questions">
         <div id="add-new-question">+</div>
       </div>
       <div class="create-questions-panel">
         <div class="canvas-wrap">
           <div class="add-button-icon-wrap">
             <div class="add-button-wrap">
               <input type="checkbox" id="add-button-wrap">
               <label for="add-button-wrap" id="add-button-label">  
                 <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="rgb(65,65,65)"/></svg>
               </label>                 
             </div>
            <div class="shape-options-wrap">
                 <button data-shape="point">Bod</button>
                 <button data-shape="line">Linie</button>
                 <button data-shape="polygon">Polygon</button>
               </div>
               <input type="color" id="select-color">
             <svg id="resize-icon" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="1.75rem" height="1.75rem" viewBox="0 0 512.000000 512.000000"
            preserveAspectRatio="xMidYMid meet">           
           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
           fill="#4299FD" stroke="none" id="resize-icon-bg">
           <path d="M370 4897 c-49 -16 -133 -102 -148 -153 -18 -60 -18 -4308 0 -4368
           16 -55 99 -138 154 -154 60 -18 4308 -18 4368 0 55 16 138 99 154 154 18 60
           18 4308 0 4368 -16 55 -99 138 -154 154 -57 17 -4321 16 -4374 -1z m3901 -626
           l29 -29 0 -596 c0 -440 -3 -602 -12 -621 -15 -32 -56 -55 -99 -55 -29 0 -56
           23 -249 215 -118 118 -220 215 -225 215 -6 0 -163 -153 -350 -340 l-340 -340
           -144 144 -145 145 231 238 c128 131 266 272 308 313 42 41 90 92 107 113 l31
           39 -222 222 c-219 220 -221 222 -221 265 0 34 6 49 29 72 l29 29 607 0 607 0
           29 -29z m-2017 -2000 c76 -76 137 -143 135 -149 -2 -6 -148 -159 -324 -339
           -176 -181 -329 -339 -339 -351 l-20 -23 222 -222 c239 -240 241 -244 210 -312
           -25 -56 -16 -55 -663 -55 l-597 0 -29 29 -29 29 0 604 c0 556 2 605 18 624 23
           29 54 44 93 44 30 0 56 -23 254 -220 l220 -220 350 350 c192 193 352 350 355
           350 3 0 68 -62 144 -139z"/>
           </g>
           </svg>          
             </div>  
          <canvas id="canvas"></canvas> 
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="28" viewBox="0 0 24 24" width="28" class="resize-icon-all"><g><rect fill="none" height="24" width="24"/></g><g><g><g><path d="M15,3l2.3,2.3l-2.89,2.87l1.42,1.42L18.7,6.7L21,9V3H15z M3,9l2.3-2.3l2.87,2.89l1.42-1.42L6.7,5.3L9,3H3V9z M9,21 l-2.3-2.3l2.89-2.87l-1.42-1.42L5.3,17.3L3,15v6H9z M21,15l-2.3,2.3l-2.87-2.89l-1.42,1.42l2.89,2.87L15,21h6V15z"/></g></g></g></svg>
         </div>
         <div class="question-setting-wrap">
           <h4 class="wrap-heading">mapa</h4>
           <select name="choose-from-map" id="select-map">
             <option value="" disabled selected>Vyberte mapu</option>
           </select>

           <div class="line-separator"></div>

           <h4 class="wrap-heading">kategorie otázky</h4>
           <select name="choose-from-map" id="select-category">
             <option value="none" disabled selected>Kategorie</option>
           </select>
           <div class="line-separator"></div>
           <h4 class="wrap-heading">nastavení odpovědí</h4>

           <div class="answers-btns-wrap">   
             <button class="btn-basic-grey" id="add-answer-wrap">+</button>           
             <details>
              <summary>
                 <span>Zkusit náhodně (1-10)</span>
                 <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/></svg>
              </summary>
              <div class="generate-wrap">
                 <input type="number" id="generate-answers-input" min="1" max="10" value="1">
                 <button id="generate-answers-btn">generovat</button>
              </div>
           </details>
           </div>
           <div class="answers-wrap"></div>
           <div class="line-separator"></div>
           <h4 class="wrap-heading">počet bodů (1 - 10)</h4>
           <div class="points">
           <svg xmlns="http://www.w3.org/2000/svg" id="dec-point" height="32" viewBox="0 0 24 24" width="32"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13H5v-2h14v2z"fill="rgb(65,65,65)" id="dec-class" class="disabled"></svg>
                         <span id="point-value">1</span>
                         <svg xmlns="http://www.w3.org/2000/svg" id="inc-point"height="32" viewBox="0 0 24 24" width="32"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" id="inc-class"fill="rgb(65,65,65)"/></svg>             
           </div>
           <div class="line-separator"></div>
           <button id="delete-question">smazat otázku</button>
           <button id="testbtn">testing</button>
         </div>
       </div>
    </div>
    <div class="finishing-test-page">
      Dokončení
    </div>
  </div>
</div>

<%- include('partials/footer'); %>

<style>
  .dot {
    height: 12px;
    z-index: 9;
    width: 12px;
    border: 2px solid #e0e0e0;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-active {
    border-color: rgb(75,75,75);
  }
  .progress-wrap {
    display:flex;
    width:100%;
    position:relative;
  }
  .progress-line {
    height:2px;
    background-color:rgb(207, 41, 41);
    width:75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:0.35rem;
    position:absolute;  
  }
  .line-active0 {
    background: linear-gradient(90deg,  rgb(75,75,75), 0%, #e0e0e0 0%);
  }
  .line-active1 {
    background: linear-gradient(90deg,  rgb(75,75,75), 33%, #e0e0e0 33%);
  }
  .line-active2 {
    background: linear-gradient(90deg,  rgb(75,75,75), 66%, #e0e0e0 66%);
  }
  .line-active3 {
    background: linear-gradient(90deg,  rgb(75,75,75), 99%, #e0e0e0 99%);
  }
  .circle-wrap {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:25%;
  }
  .circle-text {
    position:absolute;
    top:1.5rem;
    text-align:center;
    font-size: 1.5rem;
    opacity:0;
    white-space: nowrap;
    font-weight: bold;
    color:rgb(45,45,45);
  }
  .circle-text-active {
    opacity:1;
  }
  .pages {
    margin-top:4.5rem;
  }
  .pages > * {
    background-color: rgb(255, 255, 255);
    height:100%;
  }
  .progress-nav {
    text-align:center;
  }
  .progress-nav svg:hover {
    background-color:rgb(235,235,235);
    cursor:pointer;
    border-radius:0.35rem;
  }
  .pages > :not(div:first-child) {
    display:none;
  }
  
  @media only screen and (max-width: 400px) {
    .circle-text {
      margin-top:0.25rem;
      font-size:0.8rem;
    }
  }
</style>

<script>
  let dots = document.querySelectorAll('.circle-wrap .dot')
  let texts = document.querySelectorAll('.circle-wrap .circle-text')
  let line = document.querySelector('.progress-line')
  let pages = document.querySelector('.pages').children
  let count = 0
  let previousBtn = document.querySelector('#previous-page')
  let nextBtn = document.querySelector('#next-page')
  
  previousBtn.onclick = previousPage
  nextBtn.onclick = nextPage
  
  function previousPage() {
    if (isCountInvalid(count, -1)) return 
    dots[count].classList.remove('dot-active')
    findActiveAndDeactivate()   
    count--;
    displayPage(count)
    displayCorrectLine(count)
    texts[count].classList.add('circle-text-active')  
  }
  function nextPage() {
    if (isCountInvalid(count, 1)) return 
    count++
    displayPage(count)
    displayCorrectLine(count)
    dots[count].classList.add('dot-active')
    findActiveAndDeactivate()
    texts[count].classList.add('circle-text-active')
  }
  function findActiveAndDeactivate() {
    texts.forEach(el=> {
      if (el.classList.contains('circle-text-active')) {
        el.classList.remove('circle-text-active')
      }
    })
  }
  
  function displayCorrectLine(count) {
    line.className = ''
    line.classList.add('progress-line', `line-active${count}`)
  }
  
  function isCountInvalid(count, num) {
    let temp = count + num
    console.log('temp: ', temp)
    let exists = texts?.[temp]
    console.log('exists: ', exists)
    if (exists !== undefined) return false
    return true
  }
    
  function displayPage(count) {
    for (item of pages) {
      item.style.display = 'none'
    }
    pages[count].style.display = 'block'
  }

  function onlyOne(checkbox) {
    debugger;
    var checkboxes = document.getElementsByName('check')
    let closestAnswerWrapElem = checkbox.closest('.answer-wrap')
    if (closestAnswerWrapElem.classList.contains('answer-wrap-green')) {
      checkbox.closest('.answer-wrap').classList.remove('answer-wrap-green')
    } else {
      checkbox.closest('.answer-wrap').classList.add('answer-wrap-green')
    }
    checkboxes.forEach((item) => {
        if (item !== checkbox) { 
          item.checked = false
          item.closest('.answer-wrap').classList.remove('answer-wrap-green')
        }
    })
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.js"></script>
<script src="/script.js" type="module" defer></script>